body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(90deg, #baffb3, #ffee82);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: larger;
}
.section{
    width: 100vw;
    height: 60vh;
    border: 10px solid white;
    margin-top: 15vh;  
     
}
.box{
    
    border: none;
    margin: 0 auto;
    margin-top: 7%;
    
    
}

.game{
    height: 100%;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    
}
.selector{
    display: inline-block;
    margin: 0;
    width: 49.4329599%;
    background-color: white;
    height: 10%;
    border: 1px solid black;
}
.selector:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.row{
    height: 30%;
    width: 100%;
    margin: 0;
}
.item{
    height: 100%;
    width: 33.3222%;
    display: inline;
    background-image: linear-gradient(135deg, #ffee82, #ffa3d3);
    border: 1px solid white;
    padding: 9%;
    font-size: 2rem;
    
}
.restart{
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: white;
}
.footer{
    text-align: center;
    width: 100vw;
    margin-top: 5vh;
}
@media (max-width: 500px){
    .section{
        margin-top: 20vh;
    }
    .game{
        width: 98vw;
    }
}